python = 3.7
pqdm
ipywidgets
pytorch::pytorch
pytorch::torchvision
conda-forge::pytorch-lightning
conda-forge::jupyterlab
conda-forge::opencv # might downgrade torchvision and h5py
conda-forge::h5py
conda-forge::pillow
conda-forge::matplotlib
conda-forge::ipywidgets

# pip install tensorflow-gpu


#numpy
#tqdm
#scipy
#imageio
#absl-py

# torch
# torchvision
# h5py
# pillow
# matplotlib
# numpy
# tensorflow>=2.0.0
# absl-py


