python = 3.7
pytorch::pytorch
pytorch::torchvision
conda-forge::pytorch-lightning
jupyterlab
opencv
h5py
pillow
matplotlib
numpy
tqdm
scipy
imageio
absl-py

# # for hpatches
# joblib
# pandas
# dill
# tabulate

# torch
# torchvision
# h5py
# pillow
# matplotlib
# numpy
# tensorflow>=2.0.0
# absl-py


